
$body-background-color: $white;
$sidebar-color: $yellow-200;
$border-color: $yellow-200;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-100;

$link-color: $grey-dk-250;
$btn-primary-color: $yellow-200;
$base-button-color: $white;

$code-background-color: $grey-dk-300;
$highlight-background-color: $grey-dk-300;
